$cPurple: #c028b9;
$cOrange_dark: #ff4200;
$cOrange_light: #ff6d00;
$cGreen: #00c08b;
$cGreen_light: #9cdfd1;

$cBlue: #0093c9;
$cBlue_light: #1ecad3;
$cBlue_lighter: #87e1d1;

$cBrown: #3c1605;

$cYellow: #f8c485;
$cCoral: #ff7e7c;

$cBlack: #111111;
$cBlack_dark: #0c0c0c;
$cBlack_light: #1f1f1f;
$cGray_dark: #888888;
$cGray_light: #c8c8c8;
$cWhite: #f5f5f5;

$cRed: #f40259;
