// Primarios
$color-primary: #007bff;
$color-secondary: #9a9da0;

// Estado
$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #dc3545;

// Fondo
$color-background: #101010;

// Texto
$color-text-secondary: #212529;
$color-text-primary: #6c757d;
